.alochona-content .social-share{
    text-align: right;
}
.alochona-content .social-share a i {
    font-size: 20px;
    color: var(--primary);
}
.alochona-content .page-description{
    padding-bottom: 5px;
}
.alochona-content .content-right-body{
    background-color: #e8e8e8;
}
.abritti-content table tbody tr td .poem-name{
    color: #ccc;
}
.abritti-content table tbody tr td .poem-name a{
    color: #9f9898;
}


/*---------------------------------
           FAMOUS WRITER CSS
---------------------------------*/
.alochona-content .comments {
    padding-bottom: 100px;
}
.alochona-content .comments ul li {
    font-size: 14px;
}
.alochona-content .table > tbody > tr:first-child > td, .table > tbody > tr:first-child > th {
    background-color: #F5E9D1 !important;
}

/*---------------------------------
        DISCUSSION BY DATE CSS
---------------------------------*/
