.navbar{
    padding: 0px 0;
    background-color: var(--primary);
    /* height: 30px; */
    margin-top: 0px;
    /* border-top-right-radius: 8px;
    border-top-left-radius: 8px; */
}
.navbar .navbar-nav{
    margin-top: -0px;
}
.navbar .navbar-nav .nav-item .nav-link{
    padding: 12px 15px;
    background-color: var(--primary);
    color: var(--white);
}
.navbar .navbar-nav .nav-item .nav-link.active{
    background-color: var(--white);
    color: var(--secondary) !important;
}
.navbar .navbar-nav .nav-item .nav-link.active i{
    color: var(--secondary) !important;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    background-color: var(--white);
    color: var(--secondary) !important;
}
.navbar .navbar-nav .nav-item:first-child .nav-link{
    /* border-top-left-radius: 8px; */
}
/* .navbar .navbar-nav .nav-item:last-child .nav-link{
    border-top-right-radius: 8px;
} */




